@model CinemaStorage.Models.RegisterViewModel
@{
    ViewBag.Title = "CinemaBunker | Регистрация";
}

<div class="account-header">
    <h2>CinemaBunker - Регистрация учетной записи</h2>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Логин", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Введите ваш e-mail" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Пароль", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Длина не менее 6 символов" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Повторить пароль", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nickname, "Псевдоним", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Зарегистрировать" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Уже есть учетная запись?", "Login")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
